mixin paradeportes-banner(spec)
    section.paradeportes
        .container-fluid
            .row.nopadding
                .col-xs-12.col-sm-6
                    .paradeportes__img
                        img(src="/images/paradeportes-1.jpg")
                .col-xs-12.col-sm-6
                    .paradeportes__img
                        img(src="/images/paradeportes-2.jpg")
                a.paradeportes__link(href="http://paradeportes.com")
                    span.paradeportes__link__img
                        img(src="/images/paradeportes-logo.png")
                    span.paradeportes__link__desc El sitio del deporte adaptado, inclusivo y paralímpico argentino                    
                .col-xs-12.col-sm-6
                    .paradeportes__img
                        img(src="/images/paradeportes-3.jpg")
                .col-xs-12.col-sm-6
                    .paradeportes__img
                        img(src="/images/paradeportes-4.jpg")
